<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptobot</title>
    <style>
        #bot {
            background: url('https://gateway.pinata.cloud/ipfs/QmckGvFo5Ue4AM23CJ3V55ysLYynpZNiy64orgGNw3CXed') no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

            position: fixed;
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
        }

        model-viewer {
            height: 100vh;
            width: 100vw;
        }
    </style>
</head>

<body>
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script>
        function random(numbers) {
            return numbers[Math.floor(Math.random() * numbers.length)];
        }
        const c = document.getElementById("cryptobot")
        c.orientation = random(["0deg 0deg 30deg", "0deg 0deg -30deg", "0deg 0deg 0deg"]);
    </script>
    <div id="bot">
        <model-viewer id="cryptobot" src="<%= token.Bot3dModelURI %>" alt="cryptobot" scale="0.8 0.8 0.8">
        </model-viewer>
    </div>

</body>


</html>